@use './themes' as *;

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Geologica:wght@100..900&display=swap');

body {}

.container-wrapper {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(3, minmax(50px, auto));
    // grid-column-gap: 20px;
}

// .home-container,
// .fairytale-container {
//     grid-column: 1/13;
//     grid-row: 2/3;

//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-template-rows: repeat(8, minmax(50px, auto));
//     grid-column-gap: 20px;
// }



/* ----- Error Page  ----- */

.error {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    &__h1 {
        padding: 15px;
        border: black solid 1px;
        border-radius: 20px;

        font-size: 30px;
        font-weight: 600;
        color: red;
        font-family: 'Geologica', sans-serif;
    }
}


/* ----- Loading Page  ----- */

.loading {
    grid-column: 1/5;
    grid-row: 1/2;

    background-color: none;
    font-family: 'Geologica', sans-serif;

    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__gif {
        background-size: cover;
        height: 300px;
        width: 300px;
        // background-image: url('/assets/loading_cat-sleep.gif');
        background-image: url('/assets/loading_cat-sip.gif');
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
    }
}


/* ----- No Search Results ----- */
.no-results {
    grid-column: 1/5;
    grid-row: 1/2;

    background-color: none;
    font-family: 'Geologica', sans-serif;

    width: 20%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__gif {
        background-size: cover;
        height: 200px;
        width: 200px;
        background-image: url('/assets/loading_not-found-1.gif');
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;

        margin-top: 10px;
    }
}


/* ----- Header  ----- */

.navbar {
    grid-column: 1/13;
    grid-row: 1/2;

    &--hidden {
        margin-bottom: 0px;
    }

    &__element {
        margin: -10px 0px 0px 0px;

        background-image: url('/assets/element_header-footer.svg');
        background-repeat: no-repeat;
        background-position: top center;

        height: 66px;
        width: 100%;
        z-index: 1;
        position: absolute;

        &--hidden {
            display: none;
        }
    }

    &__container {
        background-color: #E51131;

        &__nav-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 20px;

            padding: 10px 10px 20px 10px;
            margin: 0px 60px;

            // height: 82px;

            &--hidden {
                padding: 29px 10px 0px 10px;
            }

            &__logo {
                cursor: pointer;

                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: left;

                width: 69px;
                margin-left: 5px;

                &--hidden {
                    display: none;
                }
            }

            &__nav-buttons {
                grid-column: 9/13;
                grid-row: 1/2;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;

                justify-self: end;
                align-content: center;
            }
        }
    }
}


/* ----- Footer  ----- */

.footer {
    grid-column: 1/13;
    grid-row: 8/9;

    &__element {
        margin: 0px 0px -10px 0px;
        transform: scaleY(-1);

        background-image: url('/assets/element_header-footer.svg');
        background-repeat: no-repeat;
        background-position: top center;

        height: 66px;
        width: 100%;
    }

    &__container {

        @include theme-styles-footer(false);

        :global(body.dark-mode) & {
            @include theme-styles-footer(true);
        }

        &__nav-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 20px;

            padding: 55px 0px 50px 0px;
            margin: 0px 60px;
            justify-items: end;

            &__logo {
                cursor: pointer;

                grid-column: 1/2;
                grid-row: 1/2;

                width: 174px;
            }

            &__about {
                grid-column: 2/9;
                grid-row: 1/2;

                //  
                font-weight: 300;

                margin: 10px;

                h1 {
                    font-size: 40px;
                    font-family: 'Bungee', sans-serif;

                    margin-bottom: 10px;
                }

                p {
                    font-size: 21px;
                    font-family: 'Geologica', sans-serif;
                }
            }

            &__nav-buttons {
                grid-column: 10/13;
                grid-row: 1/2;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                grid-row-gap: 15px;
                // display: flex;
                // flex-wrap: wrap;

                align-content: center;
                justify-content: flex-end;

                :nth-child(3) {
                    grid-column: 1/3;
                    grid-row: 2/3;
                }
            }
        }

        .button {
            @include theme-styles-btn(true);

            :global(body.dark-mode) & {
                @include theme-styles-btn(false);
            }
        }
    }
}


/* ----- Page Elements  ----- */

.button {
    cursor: pointer;

    text-decoration: none;
    color: #000;
    font-family: 'Bungee', sans-serif;

    padding: 11px 19px 9px 19px;
    margin: 0px 11px;
    justify-self: center;

    border: #000 solid 2px;
    border-radius: 10px;
    background-color: #fff;
    filter: drop-shadow(4px 4px #000);

    transition: all 0.1s ease-in-out;

    &:hover,
    &--active {
        color: #fff;

        translate: 4px 4px;

        border: #000 solid 2px;
        background-color: #000;
        filter: drop-shadow(0px 0px);
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        text-align: center;

        width: 126px;
    }
}

.filter-button {
    cursor: pointer;

    text-decoration: none;
    font-family: 'Geologica', sans-serif;

    padding: 9px 14px 8px 14px;
    margin: 4px 8px;
    justify-self: center;

    border-radius: 10px;

    transition: all 0.1s ease-in-out;

    @include theme-styles-btn(false);

    :global(body.dark-mode) & {
        @include theme-styles-btn(true);
    }

    &:hover {
        translate: 4px 4px;
    }

    &--active {
        translate: 4px 4px;
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;

        // width: 126px;
    }
}

.search-bar {
    justify-self: center;

    display: flex;
    height: 45px;
    width: 100%;

    &__search-wrapper {
        font-family: 'Geologica', sans-serif;

        padding: 8px 14px 8px 14px;
        // margin-top: 3px;

        height: 24.5px;
        width: 100%;

        border-radius: 10px;

        transition: all 0.1s ease-in-out;

        @include theme-styles-searchbar(false);

        :global(body.dark-mode) & {
            @include theme-styles-searchbar(true);
        }

        &__search-input {
            margin-left: 35px;
            padding: 2px;
            width: 91%;
            border: none;

            background-color: transparent;
            outline: none;

            font-family: 'Geologica', sans-serif;
            font-size: 18px;
        }

        &__search-icon {
            position: absolute;

            margin: 5px 0px 0px 5px;
        }
    }
}

.search-button {
    font-family: 'Geologica', sans-serif;

    padding: 8px 35px 7px 35px;
    margin: -3px 8px 4px -30px;
    justify-self: center;

    border-radius: 10px;

    transition: all 0.1s ease-in-out;

    @include theme-styles-btn(false);

    :global(body.dark-mode) & {
        @include theme-styles-btn(true);
    }

    &:hover {
        translate: 3px 3px;
        margin: -3px 8px 3px -30px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
}

.card {
    cursor: pointer;
    color: #000;

    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__img {
        width: 98.6%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;

        color: #000;
        border-radius: 10px;

        transition: all 0.1s ease-in-out;

        @include theme-styles-border(true);

        :global(body.dark-mode) & {
            @include theme-styles-border(false);
        }
    }

    &__card-info {
        // grid-column: 1/2;
        // grid-row: 1/2;

        position: absolute;

        justify-self: center;
        align-self: end;

        margin: 8px 11px 11px 8px;
        padding: 6px 0px;
        width: 94.5%;

        background-color: #fff;
        border: #000 solid 2px;
        border-radius: 10px;
        filter: drop-shadow(3px 3px #000);

        transition: all 0.1s ease-in-out;

        &__title {
            font-family: 'Bungee', sans-serif;
            font-size: 18px;
            text-align: center;

            padding: 0px 20px;
        }

        &__name {
            font-size: 18px;
            text-align: center;
            padding: 0px 20px 0px 20px;

            opacity: 0;
            height: 0;

            transition: all 0.1s ease-in-out;
        }
    }

    &:hover {


        .card__img {
            filter: brightness(50%);
            // transition: 0.3s;
        }

        .card__card-info {
            padding: 30px 0px;
            // transition: 0.1s;

            .card__card-info__title {
                font-size: 22px;
            }

            .card__card-info__name {
                padding: 7px 20px 0px 20px;

                opacity: 1;
                height: auto;
            }
        }
    }
}